services:
  server: # Container running nginx
    build:
      context: ./nginx/
      args:
        - WATCHTOWER_UID
        - WATCHTOWER_GID
    volumes:
      - /tmp:/tmp
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/templates:/etc/nginx/templates
      - ./nginx/certs:/etc/nginx/certs
    ports:
      - "${NGINX_EXTERNAL_PORT}:${NGINX_SSL_PORT}"
      - "8080"
    environment:
      - API_ENDPOINTS
      - FRONTEND_ENDPOINTS
      - ALLOWED_CLIENT_IP
      - NGINX_SSL_PORT
      - UWSGI_SOCKET
      - CERT_DIR
      - SSL_CERT
      - SSL_CERT_KEY
      - SSL_CLIENT_CERT

  mc_server: # Container that communicates with microcontroller
    build: 
      dockerfile: ./microcontroller/Dockerfile
      context: .
      args:
        - WATCHTOWER_UID
        - SERIAL_GID
    restart: on-failure
    devices: 
      - ${SERIAL_DEVICE}:${SERIAL_DEVICE}
    ports:
      - "${MC_SERVER_PORT}"
    environment:
      - SERIAL_ENABLED
      - SERIAL_BAUD
      - SERIAL_DEVICE
      - SERVER_PORT=${MC_SERVER_PORT}

  icebox: # Container controlling case fan
    build:
      context: ./icebox/
    restart: on-failure
    user: "${WATCHTOWER_UID}:${WATCHTOWER_GID}"
    group_add:
      - ${GPIO_GID}
      - ${VIDEO_GID}
    devices:
      - /dev/gpiomem:/dev/gpiomem
      - /dev/vchiq:/dev/vchiq
    volumes:
      - /opt/vc:/opt/vc
      - /usr/bin/vcgencmd:/usr/bin/vcgencmd
    environment:
      - LD_LIBRARY_PATH=/opt/vc/lib

  motion: # Container that detects motion
    build:
      context: ./motion
      args:
        - MOTION_RELEASE_TAG
    restart: on-failure
    user: "${WATCHTOWER_UID}:${WATCHTOWER_GID}"
    depends_on:
      - app
    volumes:
      - ./config/motion.conf:/usr/local/etc/motion/motion.conf # Configuration file
      - ./instance/motion:/recordings

  app: # Container running Watchtower & uWSGI
    build:
      dockerfile: ./watchtower/Dockerfile
      context: .
      target: wt-run
      args:
        - WATCHTOWER_UID
        - VIDEO_GID
    restart: on-failure
    depends_on:
      - mc_server
    devices:
      - /dev/vchiq:/dev/vchiq # Interface to VideoCore 
      - /dev/vcsm:/dev/vcsm # VideoCore shared memory
    volumes:
      - /tmp:/tmp # Shared socket directory
      - /opt/vc:/opt/vc # VideoCore libraries
      - ./instance:/watchtower/instance # Recordings & runtime configs
      - /var/log/watchtower:/var/log/watchtower # Logs
      - ./certs:/watchtower/certs # For encryption
      - ./config:/watchtower/config # Static log and wt config files
    environment:
      - LD_LIBRARY_PATH=/opt/vc/lib
      - WATCHTOWER_CONFIG
      - LOG_CONFIG
      - UWSGI_SOCKET
      - MC_SERVER_HOST=mc_server
      - MC_SERVER_PORT
      - SERIAL_ENABLED
