{% macro recording_accordion_div(day, times) -%}
    <div class="card">
        <div class="card-header" id="day-heading-{{ day|e }}">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#day-{{ day|e }}" aria-expanded="false" aria-controls="day-{{ day|e }}">
            {{ day|e }}
            </button>
        </h2>
        </div>

        <div id="day-{{ day|e }}" class="collapse" aria-labelledby="day-heading-{{ day|e }}" data-parent="#recording-accordion">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for time in times -%}
                    <li class="list-group-item" id="list-group-{{ day|e }} {{ time|e }}">
                        <div class="d-flex w-100 justify-content-between align-items-center">
                            <h6 class="mb-1">{{ time|e }}</h6>
                            <div class="row row-eq-height">
                                <button type="button" id="recording-download-button-{{ day|e }} {{ time|e }}" class="btn btn-secondary btn-sm">Download</button>
                                <button type="button" id="recording-delete-button-{{ day|e }} {{ time|e }}" class="btn btn-danger btn-sm ml-1">Delete</button>
                            </div>
                        </div>
                    </li>
                    {%- endfor %}
                </ul>
            </div>
        </div>
    </div>
{%- endmacro %}

<div class="accordion" id="recording-accordion">
    {% for day_dict in recordings -%}
    {{ recording_accordion_div(day=day_dict['day'], times=day_dict['times']) }}
    {%- endfor %}
</div>
