[Unit]
Description=uWSGI instance to run watchtower
After=network.target

[Service]
User=user
Group=www-data
WorkingDirectory=/home/user/watchtower
Environment="PATH=/home/user/watchtower/venv/bin"
ExecStart=/home/user/watchtower/venv/bin/uwsgi --ini wsgi.ini

[Install]
WantedBy=multi-user.target
